.header {
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.4rem;
    margin: 0;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

